<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>top-level-items</key>
	<array>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>16</string>
					<key>EndingLineNumber</key>
					<string>14</string>
					<key>StartingColumnNumber</key>
					<string>7</string>
					<key>StartingLineNumber</key>
					<string>14</string>
					<key>Timestamp</key>
					<string>721449523.210734</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>InkCompanion/Utilities/Modifiers/InkFont.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>Splatoon1</string>
				<key>leading</key>
				<string>enum InkFont: String {
  case font1 = "DFPZongYiW7"
  case </string>
				<key>trailing</key>
				<string> = "Splatoon2"
  case Splatoon2 = "Splatfont 1 v1.008"
}
</string>
			</dict>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>11</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>10</string>
					<key>Timestamp</key>
					<string>721550401.664258</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>InkCompanion/API/fAPI.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>let NSO_VERSION = "2.7.1"
</string>
				<key>leading</key>
				<string>
let USER_AGENT = "ConchBay/1.10.0"
</string>
				<key>trailing</key>
				<string>let SPLATNET_VERSION = "5.2.0-04895f45"
let AXIOS_TOKEN_TIMEOUT: TimeInterval = 30 // Replace with your actual timeout

</string>
			</dict>
			<key>title</key>
			<string>应该添加方法获取最新版本</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>35</string>
					<key>StartingColumnNumber</key>
					<string>35</string>
					<key>StartingLineNumber</key>
					<string>34</string>
					<key>Timestamp</key>
					<string>722923309.329895</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>InkCompanion/Views/CoopView/CoopDetailView/StageSelection.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>
</string>
				<key>leading</key>
				<string>      return Image(.copShakeup)
    case .SockeyeStation:
      return Image(.copShakespiral)</string>
				<key>trailing</key>
				<string>    }
  }
}
</string>
			</dict>
			<key>title</key>
			<string>需要为大型跑考虑</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>71</string>
					<key>StartingColumnNumber</key>
					<string>21</string>
					<key>StartingLineNumber</key>
					<string>70</string>
					<key>Timestamp</key>
					<string>722947416.9000829</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>InkCompanion/Views/CoopView/CoopSummaryDetail.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>
</string>
				<key>leading</key>
				<string>    .average()
  }
  var maxScore:Int? {</string>
				<key>trailing</key>
				<string>    stats.max{
      if let left = $0.grade?.point, let right = $1.grade?.point{
        return left &lt; right
</string>
			</dict>
			<key>title</key>
			<string>实现打工等级的排序</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingLineNumber</key>
					<string>205</string>
					<key>StartingLineNumber</key>
					<string>205</string>
					<key>Timestamp</key>
					<string>723447486.410436</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>InkCompanion/Models/ViewModel/BattleModel.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string></string>
				<key>leading</key>
				<string>  }
}
</string>
				<key>trailing</key>
				<string></string>
			</dict>
			<key>title</key>
			<string>处理私人比赛</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>270</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>269</string>
					<key>Timestamp</key>
					<string>724076101.714366</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>InkCompanion/Models/Network/NintendoAccount.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>    func callNxapiZncaApi(step: Int, idToken: String, naId: String, coralUserId: String? = nil) async throws -&gt; IminkResponse {
</string>
				<key>leading</key>
				<string>    }

</string>
				<key>trailing</key>
				<string>      let url = URL(string: "https://nxapi-znca-api.fancy.org.uk/api/znca/f")!
      var request = URLRequest(url: url)
      request.httpMethod = "POST"
</string>
			</dict>
			<key>title</key>
			<string>"If your project authenticates as the user's Nintendo Account you must explain that their id_token will be sent to a third-party API, and include a link to here." :https://github.com/samuelthomas2774/nxapi-znca-api</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>3</string>
					<key>EndingLineNumber</key>
					<string>365</string>
					<key>StartingColumnNumber</key>
					<string>2</string>
					<key>StartingLineNumber</key>
					<string>365</string>
					<key>Timestamp</key>
					<string>724246278.0293289</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>InkCompanion/Resource/zh-Hans.lproj/Localizable.strings</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string></string>
				<key>leading</key>
				<string>"Q29vcEdyYWRlLTY=" = "达人+2";
"Q29vcEdyYWRlLTc=" = "达人+3";
</string>
				<key>trailing</key>
				<string>"Q29vcEdyYWRlLTg=" = "传说";
</string>
			</dict>
			<key>type</key>
			<string>bookmark</string>
		</dict>
	</array>
</dict>
</plist>
